In [236]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
from functools import reduce
import operator
import numpy as np

In [263]:
%load_ext autoreload
%autoreload 2

In [264]:
import sys

In [266]:
sys.path.append('../src')

# Getting info from Foursquare API

In [279]:
load_dotenv()

True

In [273]:
# Coordenadas a partir del dataframe creado con info de mongodb

brasil_data = pd.read_csv('../output/companies_brasil.csv', index_col='Unnamed: 0')
brasil_data

                       name   latitude  longitude
0                    Google -23.590463 -46.681494
1                Buongiorno -23.609180 -46.692783
2                  Estilook -23.548943 -46.638818
3               F5 Networks -23.620738 -46.698267
4             Youtubehiphop -23.548943 -46.638818
5               NETCRAW  IT -23.548943 -46.638818
6                 Imobilien -25.434356 -49.283289
7               Did it Leak -23.548943 -46.638818
8   Spring Mobile Solutions -23.596530 -46.686453
9                CPM Braxis -23.591042 -46.687202
10              DP7 Digital -23.581521 -46.677369
11                    Hands -23.597854 -46.683560

#### Aplico la función para cada una de las empresas, manualmente. Lo intenté mucho, muchisimo pero no pude :(

In [268]:
from for_api import get_things

### Everyone in the company is between 25 and 40, give them some place to go party.

In [278]:
google = get_things("-23.590463", "-46.681494", "bars")
google

            name   latitud   longitud
0  Bar do Juarez -23.59013 -46.680532

In [ ]:
buongiorno = get_things("-23.609180", "-46.692783", "bars")
buongiorno

In [ ]:
estilook = get_things("-23.548943", "-46.638818", "bars")
estilook

In [ ]:
F5_networks = get_things("-23.620738", "-46.698267", "bars")
F5_networks

In [ ]:
youtubehiphop = get_things("-23.548943", "-46.638818", "bars")
youtubehiphop

In [ ]:
netcraw_it = get_things("-23.548943", "-46.638818", "bars")
netcraw_it

In [ ]:
imobilien = get_things("-25.434356", "-49.283289", "bars")
imobilien

In [ ]:
did_it_leak = get_things("-23.548943", "-46.638818", "bars")
did_it_leak

In [ ]:
spring_mobile_solutions = get_things("-23.596530", "-46.686453", "bars")
spring_mobile_solutions

In [ ]:
CPM_braxis = get_things("-23.591042", "-46.687202", "bars")
CPM_braxis

In [ ]:
DP7_digital = get_things("-23.581521", "-46.677369", "bars")
DP7_digital

In [ ]:
hands = get_things("-23.597854", "-46.683560", "bars")
hands

In [280]:
from for_api import concating

In [281]:
to_concat = [google, buongiorno, estilook , F5_networks, youtubehiphop, netcraw_it, imobilien, did_it_leak, spring_mobile_solutions, CPM_braxis, DP7_digital,hands]
bars = concating(to_concat)
bars

             name    latitud   longitud
0   Bar do Juarez -23.590130 -46.680532
1   Verissimo Bar -23.608191 -46.692621
2   Bar dos Arcos -23.545892 -46.638848
3          Pirajá -23.624079 -46.699207
4   Bar dos Arcos -23.545892 -46.638848
5   Bar dos Arcos -23.545892 -46.638848
6        BarBaran -25.431105 -49.281602
7   Bar dos Arcos -23.545892 -46.638848
8       Tatu Bola -23.595361 -46.689127
9       Bar Astor -23.590783 -46.690193
10      Vaca Véia -23.582233 -46.679454
11   Bar do Celso -23.602081 -46.683298

In [258]:
# Importo dataframe 

bars.to_csv('../output/bars.csv')

### Executives like Starbucks A LOT. Ensure there's a starbucks not too far.

In [261]:
google = get_things("-23.590463", "-46.681494", "starbucks")
google

        name   latitud   longitud
0  Starbucks -23.59173 -46.690174

In [ ]:
buongiorno = get_things("-23.609180", "-46.692783", "starbucks")
buongiorno

In [ ]:
estilook = get_things("-23.548943", "-46.638818", "starbucks")
estilook

In [ ]:
F5_networks = get_things("-23.620738", "-46.698267", "starbucks")
F5_networks

In [ ]:
youtubehiphop = get_things("-23.548943", "-46.638818", "starbucks")
youtubehiphop

In [ ]:
netcraw_it = get_things("-23.548943", "-46.638818", "starbucks")
netcraw_it

In [ ]:
imobilien = get_things("-25.434356", "-49.283289", "starbucks")
imobilien = pd.DataFrame([[np.nan] * 3],columns={'name', 'latitud', 'longitud'})
imobilien

In [ ]:
did_it_leak = get_things("-23.548943", "-46.638818", "starbucks")
did_it_leak

In [ ]:
spring_mobile_solutions = get_things("-23.596530", "-46.686453", "starbucks")
spring_mobile_solutions

In [ ]:
CPM_braxis = get_things("-23.591042", "-46.687202", "starbucks")
CPM_braxis

In [ ]:
DP7_digital = get_things("-23.581521", "-46.677369", "starbucks")
DP7_digital

In [ ]:
hands = get_things("-23.597854", "-46.683560", "starbucks")
hands

In [243]:
to_concat = [google, buongiorno, estilook , F5_networks, youtubehiphop, netcraw_it, imobilien, did_it_leak, spring_mobile_solutions, CPM_braxis, DP7_digital,hands]
starbucks = concating(to_concat)
starbucks

         name    latitud   longitud
0   Starbucks -23.591730 -46.690174
1   Starbucks -23.610453 -46.697279
2   Starbucks -23.544873 -46.642869
3   Starbucks -23.622330 -46.698825
4   Starbucks -23.544873 -46.642869
5   Starbucks -23.544873 -46.642869
6         NaN        NaN        NaN
7   Starbucks -23.544873 -46.642869
8   Starbucks -23.594799 -46.689611
9   Starbucks -23.591730 -46.690174
10  Starbucks -23.582540 -46.676443
11  Starbucks -23.594799 -46.689611

In [259]:
# Importo dataframe 

starbucks.to_csv('../output/starbucks.csv')

### Account managers need to travel a lot.

In [208]:
google = get_things("-23.590463", "-46.681494", "airport")
google

                                                name    latitud   longitud
0  Aeroporto de São Paulo / Congonhas (CGH) (Aero... -23.625777 -46.660055

In [ ]:
buongiorno = get_things("-23.609180", "-46.692783", "airport")
buongiorno

In [ ]:
estilook = get_things("-23.548943", "-46.638818", "airport")
estilook

In [ ]:
F5_networks = get_things("-23.620738", "-46.698267", "airport")
F5_networks

In [ ]:
youtubehiphop = get_things("-23.548943", "-46.638818", "airport")
youtubehiphop

In [ ]:
netcraw_it = get_things("-23.548943", "-46.638818", "airport")
netcraw_it

In [ ]:
imobilien = get_things("-25.434356", "-49.283289", "airport")
imobilien

In [ ]:
did_it_leak = get_things("-23.548943", "-46.638818", "airport")
did_it_leak

In [ ]:
spring_mobile_solutions = get_things("-23.596530", "-46.686453", "airport")
spring_mobile_solutions

In [ ]:
CPM_braxis = get_things("-23.591042", "-46.687202", "airport")
CPM_braxis

In [ ]:
DP7_digital = get_things("-23.581521", "-46.677369", "airport")
DP7_digital

In [ ]:
hands = get_things("-23.597854", "-46.683560", "airport")
hands

In [220]:
to_concat = [google, buongiorno, estilook , F5_networks, youtubehiphop, netcraw_it, imobilien, did_it_leak, spring_mobile_solutions, CPM_braxis, DP7_digital,hands]
airports = concating(to_concat)
airports

                                                 name    latitud   longitud
0   Aeroporto de São Paulo / Congonhas (CGH) (Aero... -23.625777 -46.660055
1                              Decolando em Congonhas -23.618007 -46.662738
2                 Avianca Brasil (Praça da República) -23.543110 -46.643524
3   Aeroporto de São Paulo / Congonhas (CGH) (Aero... -23.625777 -46.660055
4                 Avianca Brasil (Praça da República) -23.543110 -46.643524
5                 Avianca Brasil (Praça da República) -23.543110 -46.643524
6                              Positivo Airlines - UP -25.434337 -49.288508
7                 Avianca Brasil (Praça da República) -23.543110 -46.643524
8                              Decolando em Congonhas -23.618007 -46.662738
9                              Decolando em Congonhas -23.618007 -46.662738
10                               Audi Airport Service -23.627522 -46.661182
11  Aeroporto de São Paulo / Congonhas (CGH) (Aero... -23.625777 -46.660055

In [260]:
# Importo dataframe 

airports.to_csv('../output/airports.csv')